<a href="https://colab.research.google.com/github/bhagi8289/Insaid/blob/master/capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [103]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.6/dist-packages (8.0.16)
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from mysql-connector-python) (3.7.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (41.0.1)

In [104]:
!pip install mysql-connector-python
import pandas as pd
from IPython.display import display
pd.options.display.max_columns = None
pd.options.display.max_rows = None
from IPython.core.display import HTML
#df=pd.read_pickle('Data1')
#display(HTML(df.to_html()))


import mysql.connector
from mysql.connector import Error
from google.colab import drive
drive.mount('/content/gdrive')

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.6/dist-packages (8.0.16)
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from mysql-connector-python) (3.7.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (41.0.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.12.0)
Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [105]:


try:
    connection = mysql.connector.connect(host='capstone1.insaid.co',
                             database='Capstone1',
                             user='student',
                             password='student')
    if connection.is_connected():
       db_Info = connection.get_server_info()
       print("Connected to MySQL database... MySQL Server version on ",db_Info)

       cursor = connection.cursor()
       cursor.execute("select database()")
       record = cursor.fetchone()
       print ("Your connected to - ", record)
       #sql_select_Query = "select * from gender_age_train"
       sql_select_Query = "select * from gender_age_train"
       cursor = connection.cursor()
       cursor.execute(sql_select_Query)
       records = cursor.fetchall()
       print(type(records))

       print("Total number of rows in python_developers is - ", cursor.rowcount)
       print ("Printing each row's column values")
       for i in range(5):
        print("Gender = ", records[i][1])
        print("Age = ", records[i][2])
        print("AgeGroup  = ", records[i][3])
       cursor.close()
      
       sql = "select * from events_data"      
       df_events_data =  pd.read_sql(sql, connection)
       df_events_data.info()
       df_events_data.to_csv("/content/gdrive//My Drive/capstone/df_events_data2.csv",index = None, header=True) 
        
       sql = "select * from gender_age_train"      
       df_gender_age_train =  pd.read_sql(sql, connection)
       df_gender_age_train.info()
       df_gender_age_train.to_csv("/content/gdrive//My Drive/capstone/df_gender_age_train2.csv",index = None, header=True) 
      
       sql = "select * from phone_brand_device_model"      
       df_phone_brand_device_model =  pd.read_sql(sql, connection)
       df_phone_brand_device_model.info()
       df_phone_brand_device_model.to_csv("/content/gdrive//My Drive/capstone/df_phone_brand_device_model2.csv",index = None, header=True)  
        
except Error as e :
    print ("Error while connecting to MySQL", e)
finally:
        #closing database connection.
    if(connection.is_connected()):
          connection.close()
          print("MySQL connection is closed")

Connected to MySQL database... MySQL Server version on  5.7.25-0ubuntu0.18.04.2
Your connected to -  ('Capstone1',)
<class 'list'>
Total number of rows in python_developers is -  74645
Printing each row's column values
Gender =  M
Age =  35
AgeGroup  =  M32-38
Gender =  M
Age =  35
AgeGroup  =  M32-38
Gender =  M
Age =  35
AgeGroup  =  M32-38
Gender =  M
Age =  30
AgeGroup  =  M29-31
Gender =  M
Age =  30
AgeGroup  =  M29-31
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3252950 entries, 0 to 3252949
Data columns (total 7 columns):
event_id     int64
device_id    int64
timestamp    datetime64[ns]
longitude    float64
latitude     float64
city         object
state        object
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 173.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74645 entries, 0 to 74644
Data columns (total 4 columns):
device_id    74645 non-null int64
gender       74645 non-null object
age          74645 non-null int64
group        74645 non-null object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87726 entries, 0 to 87725
Data columns (total 3 columns):
device_id       87726 non-null int64
phone_brand     87726 non-null object
device_model    87726 non-null object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB
MySQL connection is closed

In [106]:
df_gender_age_train.info()
df_events_data.info()
df_phone_brand_device_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74645 entries, 0 to 74644
Data columns (total 4 columns):
device_id    74645 non-null int64
gender       74645 non-null object
age          74645 non-null int64
group        74645 non-null object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3252950 entries, 0 to 3252949
Data columns (total 7 columns):
event_id     int64
device_id    int64
timestamp    datetime64[ns]
longitude    float64
latitude     float64
city         object
state        object
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 173.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87726 entries, 0 to 87725
Data columns (total 3 columns):
device_id       87726 non-null int64
phone_brand     87726 non-null object
device_model    87726 non-null object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

In [107]:
df_gender_age_train.describe()

          device_id           age
count  7.464500e+04  74645.000000
mean  -7.491354e+14     31.410342
std    5.327150e+18      9.868735
min   -9.223067e+18      1.000000
25%   -4.617367e+18     25.000000
50%   -1.841362e+16     29.000000
75%    4.636656e+18     36.000000
max    9.222849e+18     96.000000

In [108]:
df_events_data.describe()

           event_id     device_id     longitude      latitude
count  3.252950e+06  3.252950e+06  3.252950e+06  3.252950e+06
mean   1.626476e+06 -8.157164e+16  7.814869e+01  2.168594e+01
std    9.390459e+05  5.347161e+18  4.326754e+00  5.793877e+00
min    1.000000e+00 -9.223067e+18  0.000000e+00  0.000000e+00
25%    8.132382e+05 -4.727609e+18  7.583498e+01  1.780134e+01
50%    1.626476e+06 -1.248416e+17  7.726814e+01  2.216185e+01
75%    2.439713e+06  4.561184e+18  8.031916e+01  2.868276e+01
max    3.252950e+06  9.221843e+18  9.545946e+01  4.187190e+01

In [109]:

df_phone_brand_device_model.describe()

          device_id
count  8.772600e+04
mean  -5.212557e+15
std    5.330157e+18
min   -9.223322e+18
25%   -4.623331e+18
50%   -3.109802e+16
75%    4.635194e+18
max    9.222849e+18

In [110]:

df_gender_age_train.head()

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

In [111]:
df_events_data.head()

,event_id,device_id,timestamp,longitude,latitude,city,state
0,1,-8163950559213451232,2016-05-01 00:55:25,77.266052,28.68161,Delhi,Delhi
1,7104,-8163950559213451232,2016-05-02 09:37:02,77.266052,28.68161,Delhi,Delhi
2,29661,-8163950559213451232,2016-05-04 00:56:04,77.266052,28.68161,Delhi,Delhi
3,33133,-8163950559213451232,2016-05-06 05:01:15,77.266052,28.68161,Delhi,Delhi
4,38980,-8163950559213451232,2016-05-06 09:55:04,77.266052,28.68161,Delhi,Delhi

In [112]:

df_phone_brand_device_model.head()

             device_id phone_brand device_model
0  1877775838486905855        vivo          Y13
1 -3766087376657242966          小米         V183
2 -6238937574958215831        OPPO          R7s
3  8973197758510677470          三星        A368t
4 -2015528097870762664          小米      红米Note2

In [120]:
#Brand Name	Brand English Mapping
brand_mapping = {
	'华为':'Huawei',
	'小米':'Xiaomi',
	'三星':'Samsung',
	'vivo':'vivo',
	'OPPO':'OPPO',
	'魅族':'Meizu',
	'酷派':'Coolpad',
  '奇酷':'Qi Cool',
	'乐视':'LeEco',
	'联想 ':'Lenovo',
    
	'HTC':'HTC'
}

brand_mapping = {
"Coolpad":"Coolpad",
"E人E本":"E person E this book",
"E派":"E pie",
"HTC":"HTC",
"Huawei":"Huawei",
"LG":"LG",
"LOGO":"LOGO",
"LeEco":"LeEco",
"Lenovo":"Lenovo",
"Lovme":"Lovme",
"MIL":"MIL",
"Meizu":"Meizu",
"OPPO":"OPPO",
"PPTV":"PPTV",
"Qi Cool":"Qi Cool",
"SUGAR":"SUGAR",
"Samsung":"Samsung",
"TCL":"TCL",
"Xiaomi":"Xiaomi",
"ZUK":"ZUK",
"vivo":"Vivo",
"一加":"One plus",
"世纪星":"Century Star",
"中国移动":"China Mobile",
"丰米":"Fengmi",
"乡米":"Township",
"亿通":"Yitong",
"优米":"Youmi",
"优语":"优语",
"优购":"Premium",
"先锋":"Pioneer",
"凯利通":"Kelly",
"努比亚":"Nubia",
"华硕":"ASUS",
"台电":"Taipower",
"唯比":"Only",
"唯米":"Wei Mi",
"基伍":"Kivu",
"夏新":"Amoi",
"大Q":"Big Q",
"大可乐":"Coca-Cola",
"大显":"Daxian",
"天语":"Tianyu",
"奥克斯":"Oaks",
"宝捷讯":"Bao Jiexun",
"富可视":"InFocus",
"小杨树":"Small poplar",
"尼比鲁":"Nibiru",
"帷幄":"Weiwo",
"广信":"Guangxin",
"康佳":"Konka",
"德赛":"Desai",
"恒宇丰":"Heng Yufeng",
"惠普":"HP",
"摩乐":"Moor",
"摩托罗拉":"Motorola",
"斐讯":"Fiji",
"昂达":"Onda",
"易派":"Easy to send",
"普耐尔":"Pnell",
"智镁":"Zhimag",
"本为":"This is",
"朵唯":"Duo Wei",
"果米":"Fruit rice",
"梦米":"Dream rice",
"欧乐迪":"Oraldi",
"欧博信":"Ou Boxin",
"欧奇":"Ouqi",
"欧新":"Ou Xin",
"欧比":"Obi",
"欧沃":"Ovo",
"沃普丰":"Warpfonte",
"波导":"Bird",
"海信":"Hisense",
"海尔":"Haier",
"爱派尔":"Ai Pai",
"瑞米":"Remi",
"瑞高":"Regal",
"白米":"White rice",
"百加":"Bai Jia",
"百立丰":"Bai Lifeng",
"神舟":"Shenzhou",
"米奇":"Mickey",
"米歌":"Mi Ge",
"糖葫芦":"Candied fruit",
"糯米":"Glutinous rice",
"纽曼":"Newman",
"维图":"Vital",
"美图":"Beautiful picture",
"聆韵":"Listening rhyme",
"至尊宝":"Supreme treasure",
"艾优尼":"Aiuni",
"蓝魔":"Blue Devil",
"虾米":"Shrimp",
"西米":"Simi",
"西门子":"Siemens",
"语信":"Language letter",
"诺亚信":"Noahs letter",
"诺基亚":"Nokia",
"谷歌":"Google",
"贝尔丰":"Bellevue",
"赛博宇华":"Saibo Yuhua",
"邦华":"Banghua",
"酷比":"Cool ratio",
"酷比魔方":"Cool than Rubiks Cube",
"酷珀":"Cooler",
"金星数码":"Venus Digital",
"锤子":"Hammer",
"长虹":"Changhong",
"青橙":"Green",
"青葱":"Shallots",
"飞利浦":"Philips",
"飞秒":"Femtosecond",
"首云":"First cloud",
"鲜米":"Fresh rice",
"黑米":"Black rice",
"三星":"Samsung",
"乐视":"LeTV",
"优语":"Yuyu",
"华为":"Huawei",
"奇酷":"Qi Cool",
"小米":"Millet",
"帷幄":"Weiwo",
"联想":"Lenovo",
"酷派":"Cool",
"魅族":"Meizu"
}


for x in brand_mapping:
  print(brand_mapping[x])
  
for x in brand_mapping.keys():
  print(x)

for x in brand_mapping.values():
  print(x)

for x,y in brand_mapping.items():
  print(x,y)

print("length of dictionary is: ",len(brand_mapping))

Coolpad
E person E this book
E pie
HTC
Huawei
LG
LOGO
LeEco
Lenovo
Lovme
MIL
Meizu
OPPO
PPTV
Qi Cool
SUGAR
Samsung
TCL
Xiaomi
ZUK
Vivo
One plus
Century Star
China Mobile
Fengmi
Township
Yitong
Youmi
Yuyu
Premium
Pioneer
Kelly
Nubia
ASUS
Taipower
Only
Wei Mi
Kivu
Amoi
Big Q
Coca-Cola
Daxian
Tianyu
Oaks
Bao Jiexun
InFocus
Small poplar
Nibiru
Weiwo
Guangxin
Konka
Desai
Heng Yufeng
HP
Moor
Motorola
Fiji
Onda
Easy to send
Pnell
Zhimag
This is
Duo Wei
Fruit rice
Dream rice
Oraldi
Ou Boxin
Ouqi
Ou Xin
Obi
Ovo
Warpfonte
Bird
Hisense
Haier
Ai Pai
Remi
Regal
White rice
Bai Jia
Bai Lifeng
Shenzhou
Mickey
Mi Ge
Candied fruit
Glutinous rice
Newman
Vital
Beautiful picture
Listening rhyme
Supreme treasure
Aiuni
Blue Devil
Shrimp
Simi
Siemens
Language letter
Noahs letter
Nokia
Google
Bellevue
Saibo Yuhua
Banghua
Cool ratio
Cool than Rubiks Cube
Cooler
Venus Digital
Hammer
Changhong
Green
Shallots
Philips
Femtosecond
First cloud
Fresh rice
Black rice
Samsung
LeTV
Huawei
Qi Cool
Millet
Lenovo
Cool
Meizu
Coolpad
E人E本
E派
HTC
Huawei
LG
LOGO
LeEco
Lenovo
Lovme
MIL
Meizu
OPPO
PPTV
Qi Cool
SUGAR
Samsung
TCL
Xiaomi
ZUK
vivo
一加
世纪星
中国移动
丰米
乡米
亿通
优米
优语
优购
先锋
凯利通
努比亚
华硕
台电
唯比
唯米
基伍
夏新
大Q
大可乐
大显
天语
奥克斯
宝捷讯
富可视
小杨树
尼比鲁
帷幄
广信
康佳
德赛
恒宇丰
惠普
摩乐
摩托罗拉
斐讯
昂达
易派
普耐尔
智镁
本为
朵唯
果米
梦米
欧乐迪
欧博信
欧奇
欧新
欧比
欧沃
沃普丰
波导
海信
海尔
爱派尔
瑞米
瑞高
白米
百加
百立丰
神舟
米奇
米歌
糖葫芦
糯米
纽曼
维图
美图
聆韵
至尊宝
艾优尼
蓝魔
虾米
西米
西门子
语信
诺亚信
诺基亚
谷歌
贝尔丰
赛博宇华
邦华
酷比
酷比魔方
酷珀
金星数码
锤子
长虹
青橙
青葱
飞利浦
飞秒
首云
鲜米
黑米
三星
乐视
华为
奇酷
小米
联想
酷派
魅族
Coolpad
E person E this book
E pie
HTC
Huawei
LG
LOGO
LeEco
Lenovo
Lovme
MIL
Meizu
OPPO
PPTV
Qi Cool
SUGAR
Samsung
TCL
Xiaomi
ZUK
Vivo
One plus
Century Star
China Mobile
Fengmi
Township
Yitong
Youmi
Yuyu
Premium
Pioneer
Kelly
Nubia
ASUS
Taipower
Only
Wei Mi
Kivu
Amoi
Big Q
Coca-Cola
Daxian
Tianyu
Oaks
Bao Jiexun
InFocus
Small poplar
Nibiru
Weiwo
Guangxin
Konka
Desai
Heng Yufeng
HP
Moor
Motorola
Fiji
Onda
Easy to send
Pnell
Zhimag
This is
Duo Wei
Fruit rice
Dream rice
Oraldi
Ou Boxin
Ouqi
Ou Xin
Obi
Ovo
Warpfonte
Bird
Hisense
Haier
Ai Pai
Remi
Regal
White rice
Bai Jia
Bai Lifeng
Shenzhou
Mickey
Mi Ge
Candied fruit
Glutinous rice
Newman
Vital
Beautiful picture
Listening rhyme
Supreme treasure
Aiuni
Blue Devil
Shrimp
Simi
Siemens
Language letter
Noahs letter
Nokia
Google
Bellevue
Saibo Yuhua
Banghua
Cool ratio
Cool than Rubiks Cube
Cooler
Venus Digital
Hammer
Changhong
Green
Shallots
Philips
Femtosecond
First cloud
Fresh rice
Black rice
Samsung
LeTV
Huawei
Qi Cool
Millet
Lenovo
Cool
Meizu
Coolpad Coolpad
E人E本 E person E this book
E派 E pie
HTC HTC
Huawei Huawei
LG LG
LOGO LOGO
LeEco LeEco
Lenovo Lenovo
Lovme Lovme
MIL MIL
Meizu Meizu
OPPO OPPO
PPTV PPTV
Qi Cool Qi Cool
SUGAR SUGAR
Samsung Samsung
TCL TCL
Xiaomi Xiaomi
ZUK ZUK
vivo Vivo
一加 One plus
世纪星 Century Star
中国移动 China Mobile
丰米 Fengmi
乡米 Township
亿通 Yitong
优米 Youmi
优语 Yuyu
优购 Premium
先锋 Pioneer
凯利通 Kelly
努比亚 Nubia
华硕 ASUS
台电 Taipower
唯比 Only
唯米 Wei Mi
基伍 Kivu
夏新 Amoi
大Q Big Q
大可乐 Coca-Cola
大显 Daxian
天语 Tianyu
奥克斯 Oaks
宝捷讯 Bao Jiexun
富可视 InFocus
小杨树 Small poplar
尼比鲁 Nibiru
帷幄 Weiwo
广信 Guangxin
康佳 Konka
德赛 Desai
恒宇丰 Heng Yufeng
惠普 HP
摩乐 Moor
摩托罗拉 Motorola
斐讯 Fiji
昂达 Onda
易派 Easy to send
普耐尔 Pnell
智镁 Zhimag
本为 This is
朵唯 Duo Wei
果米 Fruit rice
梦米 Dream rice
欧乐迪 Oraldi
欧博信 Ou Boxin
欧奇 Ouqi
欧新 Ou Xin
欧比 Obi
欧沃 Ovo
沃普丰 Warpfonte
波导 Bird
海信 Hisense
海尔 Haier
爱派尔 Ai Pai
瑞米 Remi
瑞高 Regal
白米 White rice
百加 Bai Jia
百立丰 Bai Lifeng
神舟 Shenzhou
米奇 Mickey
米歌 Mi Ge
糖葫芦 Candied fruit
糯米 Glutinous rice
纽曼 Newman
维图 Vital
美图 Beautiful picture
聆韵 Listening rhyme
至尊宝 Supreme treasure
艾优尼 Aiuni
蓝魔 Blue Devil
虾米 Shrimp
西米 Simi
西门子 Siemens
语信 Language letter
诺亚信 Noahs letter
诺基亚 Nokia
谷歌 Google
贝尔丰 Bellevue
赛博宇华 Saibo Yuhua
邦华 Banghua
酷比 Cool ratio
酷比魔方 Cool than Rubiks Cube
酷珀 Cooler
金星数码 Venus Digital
锤子 Hammer
长虹 Changhong
青橙 Green
青葱 Shallots
飞利浦 Philips
飞秒 Femtosecond
首云 First cloud
鲜米 Fresh rice
黑米 Black rice
三星 Samsung
乐视 LeTV
华为 Huawei
奇酷 Qi Cool
小米 Millet
联想 Lenovo
酷派 Cool
魅族 Meizu
length of dictionary is:  124

In [121]:
print(brand_mapping.items())
print(brand_mapping.keys())
print(brand_mapping.values())

dict_items([('Coolpad', 'Coolpad'), ('E人E本', 'E person E this book'), ('E派', 'E pie'), ('HTC', 'HTC'), ('Huawei', 'Huawei'), ('LG', 'LG'), ('LOGO', 'LOGO'), ('LeEco', 'LeEco'), ('Lenovo', 'Lenovo'), ('Lovme', 'Lovme'), ('MIL', 'MIL'), ('Meizu', 'Meizu'), ('OPPO', 'OPPO'), ('PPTV', 'PPTV'), ('Qi Cool', 'Qi Cool'), ('SUGAR', 'SUGAR'), ('Samsung', 'Samsung'), ('TCL', 'TCL'), ('Xiaomi', 'Xiaomi'), ('ZUK', 'ZUK'), ('vivo', 'Vivo'), ('一加', 'One plus'), ('世纪星', 'Century Star'), ('中国移动', 'China Mobile'), ('丰米', 'Fengmi'), ('乡米', 'Township'), ('亿通', 'Yitong'), ('优米', 'Youmi'), ('优语', 'Yuyu'), ('优购', 'Premium'), ('先锋', 'Pioneer'), ('凯利通', 'Kelly'), ('努比亚', 'Nubia'), ('华硕', 'ASUS'), ('台电', 'Taipower'), ('唯比', 'Only'), ('唯米', 'Wei Mi'), ('基伍', 'Kivu'), ('夏新', 'Amoi'), ('大Q', 'Big Q'), ('大可乐', 'Coca-Cola'), ('大显', 'Daxian'), ('天语', 'Tianyu'), ('奥克斯', 'Oaks'), ('宝捷讯', 'Bao Jiexun'), ('富可视', 'InFocus'), ('小杨树', 'Small poplar'), ('尼比鲁', 'Nibiru'), ('帷幄', 'Weiwo'), ('广信', 'Guangxin'), ('康佳', 'Konka'), ('德赛', 'Desai'), ('恒宇丰', 'Heng Yufeng'), ('惠普', 'HP'), ('摩乐', 'Moor'), ('摩托罗拉', 'Motorola'), ('斐讯', 'Fiji'), ('昂达', 'Onda'), ('易派', 'Easy to send'), ('普耐尔', 'Pnell'), ('智镁', 'Zhimag'), ('本为', 'This is'), ('朵唯', 'Duo Wei'), ('果米', 'Fruit rice'), ('梦米', 'Dream rice'), ('欧乐迪', 'Oraldi'), ('欧博信', 'Ou Boxin'), ('欧奇', 'Ouqi'), ('欧新', 'Ou Xin'), ('欧比', 'Obi'), ('欧沃', 'Ovo'), ('沃普丰', 'Warpfonte'), ('波导', 'Bird'), ('海信', 'Hisense'), ('海尔', 'Haier'), ('爱派尔', 'Ai Pai'), ('瑞米', 'Remi'), ('瑞高', 'Regal'), ('白米', 'White rice'), ('百加', 'Bai Jia'), ('百立丰', 'Bai Lifeng'), ('神舟', 'Shenzhou'), ('米奇', 'Mickey'), ('米歌', 'Mi Ge'), ('糖葫芦', 'Candied fruit'), ('糯米', 'Glutinous rice'), ('纽曼', 'Newman'), ('维图', 'Vital'), ('美图', 'Beautiful picture'), ('聆韵', 'Listening rhyme'), ('至尊宝', 'Supreme treasure'), ('艾优尼', 'Aiuni'), ('蓝魔', 'Blue Devil'), ('虾米', 'Shrimp'), ('西米', 'Simi'), ('西门子', 'Siemens'), ('语信', 'Language letter'), ('诺亚信', 'Noahs letter'), ('诺基亚', 'Nokia'), ('谷歌', 'Google'), ('贝尔丰', 'Bellevue'), ('赛博宇华', 'Saibo Yuhua'), ('邦华', 'Banghua'), ('酷比', 'Cool ratio'), ('酷比魔方', 'Cool than Rubiks Cube'), ('酷珀', 'Cooler'), ('金星数码', 'Venus Digital'), ('锤子', 'Hammer'), ('长虹', 'Changhong'), ('青橙', 'Green'), ('青葱', 'Shallots'), ('飞利浦', 'Philips'), ('飞秒', 'Femtosecond'), ('首云', 'First cloud'), ('鲜米', 'Fresh rice'), ('黑米', 'Black rice'), ('三星', 'Samsung'), ('乐视', 'LeTV'), ('华为', 'Huawei'), ('奇酷', 'Qi Cool'), ('小米', 'Millet'), ('联想', 'Lenovo'), ('酷派', 'Cool'), ('魅族', 'Meizu')])
dict_keys(['Coolpad', 'E人E本', 'E派', 'HTC', 'Huawei', 'LG', 'LOGO', 'LeEco', 'Lenovo', 'Lovme', 'MIL', 'Meizu', 'OPPO', 'PPTV', 'Qi Cool', 'SUGAR', 'Samsung', 'TCL', 'Xiaomi', 'ZUK', 'vivo', '一加', '世纪星', '中国移动', '丰米', '乡米', '亿通', '优米', '优语', '优购', '先锋', '凯利通', '努比亚', '华硕', '台电', '唯比', '唯米', '基伍', '夏新', '大Q', '大可乐', '大显', '天语', '奥克斯', '宝捷讯', '富可视', '小杨树', '尼比鲁', '帷幄', '广信', '康佳', '德赛', '恒宇丰', '惠普', '摩乐', '摩托罗拉', '斐讯', '昂达', '易派', '普耐尔', '智镁', '本为', '朵唯', '果米', '梦米', '欧乐迪', '欧博信', '欧奇', '欧新', '欧比', '欧沃', '沃普丰', '波导', '海信', '海尔', '爱派尔', '瑞米', '瑞高', '白米', '百加', '百立丰', '神舟', '米奇', '米歌', '糖葫芦', '糯米', '纽曼', '维图', '美图', '聆韵', '至尊宝', '艾优尼', '蓝魔', '虾米', '西米', '西门子', '语信', '诺亚信', '诺基亚', '谷歌', '贝尔丰', '赛博宇华', '邦华', '酷比', '酷比魔方', '酷珀', '金星数码', '锤子', '长虹', '青橙', '青葱', '飞利浦', '飞秒', '首云', '鲜米', '黑米', '三星', '乐视', '华为', '奇酷', '小米', '联想', '酷派', '魅族'])
dict_values(['Coolpad', 'E person E this book', 'E pie', 'HTC', 'Huawei', 'LG', 'LOGO', 'LeEco', 'Lenovo', 'Lovme', 'MIL', 'Meizu', 'OPPO', 'PPTV', 'Qi Cool', 'SUGAR', 'Samsung', 'TCL', 'Xiaomi', 'ZUK', 'Vivo', 'One plus', 'Century Star', 'China Mobile', 'Fengmi', 'Township', 'Yitong', 'Youmi', 'Yuyu', 'Premium', 'Pioneer', 'Kelly', 'Nubia', 'ASUS', 'Taipower', 'Only', 'Wei Mi', 'Kivu', 'Amoi', 'Big Q', 'Coca-Cola', 'Daxian', 'Tianyu', 'Oaks', 'Bao Jiexun', 'InFocus', 'Small poplar', 'Nibiru', 'Weiwo', 'Guangxin', 'Konka', 'Desai', 'Heng Yufeng', 'HP', 'Moor', 'Motorola', 'Fiji', 'Onda', 'Easy to send', 'Pnell', 'Zhimag', 'This is', 'Duo Wei', 'Fruit rice', 'Dream rice', 'Oraldi', 'Ou Boxin', 'Ouqi', 'Ou Xin', 'Obi', 'Ovo', 'Warpfonte', 'Bird', 'Hisense', 'Haier', 'Ai Pai', 'Remi', 'Regal', 'White rice', 'Bai Jia', 'Bai Lifeng', 'Shenzhou', 'Mickey', 'Mi Ge', 'Candied fruit', 'Glutinous rice', 'Newman', 'Vital', 'Beautiful picture', 'Listening rhyme', 'Supreme treasure', 'Aiuni', 'Blue Devil', 'Shrimp', 'Simi', 'Siemens', 'Language letter', 'Noahs letter', 'Nokia', 'Google', 'Bellevue', 'Saibo Yuhua', 'Banghua', 'Cool ratio', 'Cool than Rubiks Cube', 'Cooler', 'Venus Digital', 'Hammer', 'Changhong', 'Green', 'Shallots', 'Philips', 'Femtosecond', 'First cloud', 'Fresh rice', 'Black rice', 'Samsung', 'LeTV', 'Huawei', 'Qi Cool', 'Millet', 'Lenovo', 'Cool', 'Meizu'])

In [122]:

df_phone_brand_device_model.head()

for x,y in brand_mapping.items():
  print(x,y)
  df_phone_brand_device_model.replace({x:y},regex=True,inplace=True)

Coolpad Coolpad
E人E本 E person E this book
E派 E pie
HTC HTC
Huawei Huawei
LG LG
LOGO LOGO
LeEco LeEco
Lenovo Lenovo
Lovme Lovme
MIL MIL
Meizu Meizu
OPPO OPPO
PPTV PPTV
Qi Cool Qi Cool
SUGAR SUGAR
Samsung Samsung
TCL TCL
Xiaomi Xiaomi
ZUK ZUK
vivo Vivo
一加 One plus
世纪星 Century Star
中国移动 China Mobile
丰米 Fengmi
乡米 Township
亿通 Yitong
优米 Youmi
优语 Yuyu
优购 Premium
先锋 Pioneer
凯利通 Kelly
努比亚 Nubia
华硕 ASUS
台电 Taipower
唯比 Only
唯米 Wei Mi
基伍 Kivu
夏新 Amoi
大Q Big Q
大可乐 Coca-Cola
大显 Daxian
天语 Tianyu
奥克斯 Oaks
宝捷讯 Bao Jiexun
富可视 InFocus
小杨树 Small poplar
尼比鲁 Nibiru
帷幄 Weiwo
广信 Guangxin
康佳 Konka
德赛 Desai
恒宇丰 Heng Yufeng
惠普 HP
摩乐 Moor
摩托罗拉 Motorola
斐讯 Fiji
昂达 Onda
易派 Easy to send
普耐尔 Pnell
智镁 Zhimag
本为 This is
朵唯 Duo Wei
果米 Fruit rice
梦米 Dream rice
欧乐迪 Oraldi
欧博信 Ou Boxin
欧奇 Ouqi
欧新 Ou Xin
欧比 Obi
欧沃 Ovo
沃普丰 Warpfonte
波导 Bird
海信 Hisense
海尔 Haier
爱派尔 Ai Pai
瑞米 Remi
瑞高 Regal
白米 White rice
百加 Bai Jia
百立丰 Bai Lifeng
神舟 Shenzhou
米奇 Mickey
米歌 Mi Ge
糖葫芦 Candied fruit
糯米 Glutinous rice
纽曼 Newman
维图 Vital
美图 Beautiful picture
聆韵 Listening rhyme
至尊宝 Supreme treasure
艾优尼 Aiuni
蓝魔 Blue Devil
虾米 Shrimp
西米 Simi
西门子 Siemens
语信 Language letter
诺亚信 Noahs letter
诺基亚 Nokia
谷歌 Google
贝尔丰 Bellevue
赛博宇华 Saibo Yuhua
邦华 Banghua
酷比 Cool ratio
酷比魔方 Cool than Rubiks Cube
酷珀 Cooler
金星数码 Venus Digital
锤子 Hammer
长虹 Changhong
青橙 Green
青葱 Shallots
飞利浦 Philips
飞秒 Femtosecond
首云 First cloud
鲜米 Fresh rice
黑米 Black rice
三星 Samsung
乐视 LeTV
华为 Huawei
奇酷 Qi Cool
小米 Millet
联想 Lenovo
酷派 Cool
魅族 Meizu

In [123]:
df_phone_brand_device_model.head()

             device_id phone_brand device_model
0  1877775838486905855        Vivo          Y13
1 -3766087376657242966      Millet         V183
2 -6238937574958215831        OPPO          R7s
3  8973197758510677470     Samsung        A368t
4 -2015528097870762664      Millet      红米Note2

In [0]:
#df_phone_brand_device_model

In [125]:
df_phone_brand_device_model.count()

device_id       87726
phone_brand     87726
device_model    87726
dtype: int64

In [126]:
#Types of Phone Brands used by customers

from IPython.display import display

pd.options.display.max_columns = None
pd.options.display.max_rows = None
from IPython.core.display import HTML
display(HTML(df_phone_brand_device_model.groupby('phone_brand').count()[['device_model']].to_html()))
#df_phone_brand_device_model.groupby('phone_brand').count()[['device_model']]
#print(df_phone_brand_device_model.groupby('phone_brand').count().device_model.index)
#print(df_phone_brand_device_model.groupby('phone_brand').count().device_model.values)
#df_phone_brand_device_model.groupby('phone_brand').count().device_model